<header
    class="
        md:flex md:items-center md:justify-between
        py-4
        px-6
        pb-0
        shadow-lg
        md:pb-4
    "
>
    <!-- Logo text or image -->
    <div class="flex items-center justify-between mb-4 md:mb-0">
        <p class="leading-none text-grey-darkest">
            <a
                class="
                    no-underline
                    text-grey-darkest
                    hover:text-black
                    font-semibold
                "
                href="#"
            >
                Hey, mi nombre es
            </a>
        </p>

        <a class="text-black hover:text-orange md:hidden" href="#">
            <i class="fa fa-2x fa-bars"></i>
        </a>
    </div>
    <!-- END Logo text or image -->

    <!-- Global navigation -->
    <nav>
        <ul class="list-reset md:flex md:items-center">
            <li class="li-container" *ngFor="let item of config; let i = index">
                <div class="ping-items-header hidden" #pinItem></div>
                <a
                    #navComp
                    class="
                        border-t
                        block
                        no-underline
                        py-2
                        text-gray-500
                        hover:text-black
                        md:border-none md:p-0
                        font-semibold
                    "
                    (click)="navBarStatus(i)"
                    [colorNavBar]="item.status"
                    [routerLink]="['/' + item.url]"
                >
                    {{ item.name }}
                </a>
            </li>
        </ul>
    </nav>
    <!-- END Global navigation -->
</header>
