<header
    class="
        md:flex md:items-center md:justify-between
        py-4
        px-6
        pb-0
        shadow-lg
        md:pb-4
    "
>
    <!-- Logo text or image -->
    <div class="flex items-center justify-between mb-4 md:mb-0">
        <p class="leading-none text-grey-darkest">
            <a
                class="
                    no-underline
                    text-grey-darkest
                    hover:text-black
                    font-semibold
                "
                href="#"
            >
                Hey, mi nombre es
            </a>
        </p>

        <!-- Mobile menu button -->
        <div class="md:hidden flex items-center">
            <button
                class="outline-none mobile-menu-button"
                (click)="handleMenuButton()"
            >
                <svg
                    class="w-6 h-6 text-gray-500"
                    x-show="!showMenu"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
    </div>
    <!-- END Logo text or image -->

    <!-- Global navigation -->
    <nav class="flex">
        <ul class="hidden list-reset md:flex md:items-center">
            <li class="li-container" *ngFor="let item of config; let i = index">
                <div class="ping-items-header" #pinItem></div>
                <a
                    #navComp
                    class="
                        border-t
                        block
                        no-underline
                        py-2
                        text-gray-500
                        hover:text-black
                        md:border-none md:p-0
                        font-semibold
                    "
                    (click)="navBarStatus(i)"
                    [colorNavBar]="item.status"
                    [routerLink]="['/' + item.url]"
                >
                    {{ item.name }}
                </a>
            </li>
        </ul>

        <div *ngIf="stateButtonMenu" class="flex md:hidden w-full text-center">
            <ul class="list-reset w-full">
                <li
                    *ngFor="let item of config; let i = index"
                    class="li-container"
                >
                    <a
                        #navComp
                        class="
                            border-t
                            block
                            no-underline
                            py-2
                            text-gray-500
                            hover:text-black
                            md:border-none md:p-0
                            font-semibold
                        "
                        (click)="navBarStatus(i)"
                        [colorNavBar]="item.status"
                        [routerLink]="['/' + item.url]"
                    >
                        {{ item.name }}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- END Global navigation -->
</header>

<ng-template #name> </ng-template>
