<div class="p-4">
    <div>
        <h3 class="font-bold">Experiencia de trabajo</h3>
        <span class="font-semibold"> CAPMEGA Desarrollador web (2018) </span>
        <p>
            - Proyecto de crowfunding: en el cual hice desarrollo con laravel
            modificando aspectos basicos de las vistas como implementacion de
            nueva data o detallado en los estilos implementados.
        </p>
        <br />
        <span class="font-semibold"
            >CAPMEGA - COMARKA Desarrollador wordpress( 2019)
        </span>
        <p>
            - Desarrollo de multiples sitios de gobierno y startups, -
            Mantenimiento de sitios previamente hechos con gestores como divi,
            Pearl, Elemento, etc. - Implementacion de nuevas funcionalidades,
            como la creacion de plugins y actualizacion de temas.
        </p>
        <br />
        <span class="font-semibold"
            >DANNYYESOFT Desarrollador Angular y Team Leader (2020 -2021)
        </span>
        <p>
            - Sistema escolar (ng-bootstrap) El desarrollo de esta web app es un
            amplio sistema para la gestión de instituciones educativas el cual
            permite el facil manejo de la información entre profesores, alumnos,
            familiares y personal de cualquier otra indole. El desarrollo
            incluia la creacion de amplios formularios para obtener la
            informacion personal o de un individuo, asi como su crud
            correspondiente; el uso de tablas, ventanas emergentes y formularios
            siempre estuvo presente asi como diseños personalizados en base a
            mock-ups. - CI/CD para desplegar cambios en el servidor (QA,
            development o produccion) - Gestion de tareas para el equipo
            front-end.
        </p>
        <br />
        <span class="font-semibold"
            >GETITCOMPANY Desarrollador Angular y Team Leader (2021 - Act)
        </span>
        <p>
            - Sistema para autopistas (Angular Material) Este sistema se encarga
            de proveer vistas en base a permisos para mostrar contenido en
            especifico al usuario, el sistema se desarrollo por submodulos y
            entrega data mediante componentes, en su mayoria tablas, el uso de
            ventanas emergente esta presente asi como el uso de fechas para la
            obtencion de data en periodos especificos. - Auxiliar en problemas
            con backend laravel. - CI/CD para desplegar cambios en el servidor
            (development o produccion)
        </p>
    </div>

    <div class="mt-4">
        <h3 class="font-bold">Capacitación</h3>
        <span class="font-semibold">CAPMEGA Traine ( 2018)</span>
        <p>
            - Introduccion al ecosistema linux para desarrollar en la distro
            kubuntu y uso de la terminal de comandos . - Java y la programacion
            orientada a objetos. - Introducción al desarrollo de apps en moviles
            android, en esta fase se hizo uso de una app previamente hecha y se
            fue inspeccionando el codigo por partes . - Uso de git y github para
            el desarrollo en equipo. - Creacion de una app en ionic-angular para
            gestionar la reservación de eventos, en el cual desempeñe el puesto
            de front-end; creando las interfaces del registro de usuario, la
            vista del perfil y una interfaz para ver las opciones disponibles
            del sistema. - Introducción a php y laravel.
        </p>
    </div>
</div>
