<div class="max-h-full">
    <div class="mt-2 font-bold container-typing">
        <infinite-typing [fontSize]="'60px'"></infinite-typing>
    </div>
    <div class="my-4 font-bold">
        <h3>Soy desarrollador Front-End (Angular)</h3>
    </div>
    <div>
        <p>
            Soy un entusiasta con ganas de seguir mejorando mis habilidades,
            aprender nuevas tecnologias y crecer profesionalmente.
        </p>
    </div>
    <div class="flex justify-around mt-4">
        <ng-container *ngFor="let icon of socialIcons">
            <span [ngSwitch]="icon.type">
                <div
                    *ngSwitchCase="'func'"
                    (click)="alertTextCopied(icon.label)"
                    class="cursor-pointer"
                >
                    <div class="icon-container">
                        <div class="icon-source {{ icon.url }}"></div>
                    </div>
                </div>
                <a
                    *ngSwitchDefault
                    class="text-center"
                    [href]="icon.label"
                    target="blank"
                >
                    <div class="icon-container">
                        <div class="icon-source {{ icon.url }}"></div>
                    </div>
                </a>
            </span>
        </ng-container>
    </div>
    <div class="mt-4 flex justify-center">
        <div class="avatar-markup flex justify-center">
            <div class="avatar-markup-img flex justify-center">
                <div class="card-zoom">
                    <div class="card-zoom-image bg-profileImage"></div>
                </div>
            </div>
        </div>
    </div>
</div>
