<div class="max-h-full">
    <div class="mt-2 font-bold container-typing">
        <infinite-typing [fontSize]="'60px'"></infinite-typing>
    </div>
    <div class="my-4 font-bold">
        <h3>Soy desarrollador Front-End (Angular)</h3>
    </div>
    <div>
        <p>
            Me apasionan las tecnologías web, también creo contenido en Youtube
            me encantan los proyectos retadores y aportar conocimiento a la
            comunidad.
        </p>
    </div>
    <div class="flex justify-around mt-4">
        <a *ngFor="let icon of socialIcons" class="text-center"
            ><img class="w-10" [src]="icon"
        /></a>
    </div>
    <div class="mt-4 flex justify-center mt-2">
        <div class="avatar-markup flex justify-center">
            <div class="avatar-markup-img flex justify-center">
                <img
                    src="../../../../assets/img/IMG_20210422_093746_272.jpg"
                    alt=""
                    srcset=""
                />
            </div>
            <!-- <div class="avatar-markup-inner"></div> -->
        </div>
    </div>
</div>
