.text-typed {
    padding: 0 !important;
}

.text-typed-blink {
    border-right-style: solid;
    animation: 1s text-typed-blink infinite;
}

@keyframes text-typed-blink {
    to {
        opacity: 0;
    }
}
