@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@angular/cdk/overlay-prebuilt.css";

html {
    height: 100%;
    //overflow: hidden;
    @font-face {
        font-family: "Oxygen";
        src: local("Oxygen"),
            url(./assets/fonts/Poppins-Thin.ttf) format("truetype");
    }
    body {
        font-family: "Oxygen", Arial, Helvetica, sans-serif;
        height: 100vh;
    }
}

.icon-container {
    @apply flex items-center justify-center m-auto w-12 h-12 p-2;
    .icon-source {
        @apply w-full h-full rounded-full bg-center bg-cover;
    }
}

.toasts-overlay {
    position: absolute;
}

.tooltip {
    @apply invisible absolute rounded shadow-lg p-1 bg-gray-100 text-gray-900 -mt-8 font-bold;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50;
}
