<div class="p-4 w-full">
    <div class="intro-me">
        <h3 class="font-bold">Sobre mí</h3>
        <p>
            Soy un joven autodidacta con gusto preferente por las tecnologías de
            desarrollo front-end, pero adaptable y responsable que está en busca
            de una posición en el campo de TI para mejorar y emplear mis
            habilidades de desarrollo de software.<br /><br />¡Tengo una
            comezón! ... Constante por mejorar mi código.<br /><br />
            Durante mi trayecto laboral he fungido en diversas áreas del
            desarrollo web, como:<br />
            - Configuración de sitios web en sistemas como cPanel o directamente
            mediante conexiones SSH. <br />- Desarrollo de SPA con Angular.
            <br />- Desarrollo web con PHP y Express <br />- - Colaborar para
            mejorar o dirigir los esfuerzos realizados en conjunto.
        </p>
    </div>

    <!-- <div>
        <app-stepper></app-stepper>
    </div> -->

    <div class="mt-4">
        <h3 class="font-bold mb-2">Habilidades</h3>

        <h5 class="font-bold mb-2">Front-End</h5>
        <div class="flex flex-wrap">
            <info-skill
                *ngFor="let skill of skills"
                [skill]="skill"
                class="w-1/3"
            ></info-skill>
        </div>

        <h4 class="font-bold mb-2">Back-End</h4>
        <div class="flex flex-wrap">
            <info-skill
                *ngFor="let skillBack of skillBackend"
                [skill]="skillBack"
                class="w-1/3"
            ></info-skill>
        </div>

        <h4 class="font-bold mb-2">Bases de datos</h4>
        <div class="flex flex-wrap">
            <info-skill
                *ngFor="let skillDBS of skillsDBS"
                [skill]="skillDBS"
                class="w-1/3"
            ></info-skill>
        </div>
    </div>
</div>
